<!-- Your template here! -->
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceFix - serwis smartfonów</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://kit.fontawesome.com/baff5d4d9d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="about-us">
      <div class="icons">
        <div class="icon">
          <i class="fa-solid fa-phone"></i>
          <p>Zadzwoń i umów naprawę</p>
          <a href="tel:+48730889759">+48 730 889 759</a>
        </div>
        <div class="icon">
          <i class="fa-solid fa-location-dot"></i>
          <p>Odwiedź nas, a my naprawimy Twój telefon</p>
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.7661380908194!2d20.8831727!3d52.1931235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719357b16c39af7%3A0x93bd1b1e77aeba83!2sSpaceFix%20-%20Serwis%20Apple%2C%20Samsung%2C%20Xiaomi%2C%20Huawei!5e0!3m2!1spl!2spl!4v1727521001502!5m2!1spl!2spl"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
          </div>
        </div>
      </div>
      <div class="container">
        <h1>Ekran jak nowy w mgnieniu oka – naprawiamy szybko i pewnie!</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat.
        </p>
        <a href="/offer/" class="btn">Sprawdź ceny naprawy</a>
      </div>

      <div class="text-image-section">
        <div class="text-column">
          <h2>O nas</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Vivamus luctus eros aliquet arcu
            varius, at consequat magna rhoncus. Quisque non fermentum metus. Phasellus viverra augue ut neque bibendum,
            eget vestibulum magna feugiat. Integer et vehicula orci. Donec vehicula sem id magna convallis, ac elementum
            est porttitor.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Vivamus luctus eros aliquet arcu
            varius, at consequat magna rhoncus.
          </p>
        </div>
        <div class="image-column">
          <img src="/images/applewatch-photo.png" alt="Nasza Misja" />
        </div>
      </div>

      <div class="gallery">
        <img src="/images/aboutUnplash1.png" alt="Zdjęcie 2" />
        <img src="/images/aboutUnplash1.png" alt="Zdjęcie 1" />
        <img src="/images/aboutUnplash1.png" alt="Zdjęcie 3" />
      </div>
    </section>
  </body>
</html>
