<!-- Your template here! -->
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceFix - serwis smartfonów</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://kit.fontawesome.com/baff5d4d9d.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16696753754"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'AW-16696753754');
    </script>
  </head>
  <body>
    <section class="about-us">
      <div class="container">
        <h1>Zaufaj Specjalistom SpaceFix – Szybka Naprawa, Niskie Ceny!</h1>
        <p>
          W SpaceFix naprawiamy smartfony szybko, profesjonalnie i w atrakcyjnych cenach! Niezależnie od problemu – czy
          to wymiana ekranu, baterii, czy inna usterka – zadbamy o Twoje urządzenie na najwyższym poziomie. Działamy
          lokalnie, oferując natychmiastowe naprawy na miejscu, co oszczędza Twój czas i pieniądze. Zaufaj naszym
          specjalistom i przywróć swój telefon do pełnej sprawności już dziś!
        </p>
        <a
          href="tel:+48730889759"
          class="btn"
          onclick="gtag('event', 'call', {'event_category': 'engagement', 'event_label': 'call_button'});"
          >Zadzwoń i umów naprawę</a
        >
      </div>
      <div class="icons">
        <a
          href="tel:+48730889759"
          class="icon"
          onclick="gtag('event', 'call', {'event_category': 'engagement', 'event_label': 'call_button'});"
        >
          <i class="fa-solid fa-phone"></i>
          <p>Zadzwoń i umów naprawę</p>
          <span>+48 730 889 759</span>
        </a>
        <div class="icon">
          <a
            href="https://www.google.com/maps/place/SpaceFix+-+Serwis+Apple+,+Samsung+,+Xiaomi/@52.1931235,20.8805978,17z/data=!3m1!4b1!4m6!3m5!1s0x4719357b16c39af7:0x93bd1b1e77aeba83!8m2!3d52.1931235!4d20.8831727!16s%2Fg%2F11krq7k76m?entry=ttu"
            target="_blank"
            rel="noopener noreferrer"
            onclick="gtag('event', 'directions', {'event_category': 'engagement', 'event_label': 'directions_button'});"
          >
            <i class="fa-solid fa-location-dot"></i>
            <p>Odwiedź nas, a my naprawimy Twój telefon</p>
          </a>
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.7661380908194!2d20.8831727!3d52.1931235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719357b16c39af7%3A0x93bd1b1e77aeba83!2sSpaceFix%20-%20Serwis%20Apple%2C%20Samsung%2C%20Xiaomi%2C%20Huawei!5e0!3m2!1spl!2spl!4v1727521001502!5m2!1spl!2spl"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
          </div>
        </div>
      </div>
      <div class="text-image-section">
        <div class="text-column">
          <h2>O nas</h2>
          <p>
            W SpaceFix stawiamy na jakość, szybkość i indywidualne podejście do każdego klienta. Jesteśmy profesjonalnym
            serwisem specjalizującym się w naprawie wszystkich rodzajów smartfonów i tabletów, zarówno najnowszych
            modeli, jak i starszych urządzeń. Wiemy, jak ważne jest dla Ciebie szybkie odzyskanie w pełni sprawnego
            telefonu – dlatego gwarantujemy krótki czas naprawy, często już tego samego dnia!
          </p>
          <p>
            Nasze ceny są konkurencyjne, ale nigdy nie kosztem jakości. Każda naprawa wykonywana jest z dbałością o
            najmniejsze szczegóły, a przy tym możesz być pewien, że zawsze otrzymasz najlepszą obsługę. W
            przeciwieństwie do wielkich serwisów, w SpaceFix podchodzimy do każdego klienta indywidualnie, starając się
            zrozumieć jego potrzeby i znaleźć optymalne rozwiązanie. Zaufaj nam, a Twój telefon szybko wróci do pełnej
            sprawności w przystępnej cenie!
          </p>
        </div>
        <div class="image-column">
          <img src="/images/applewatch-photo.png" alt="Nasza Misja" />
        </div>
      </div>
    </section>
  </body>
</html>
