---
import data from '../../../data/data';
const { brand, phone } = Astro.params;

export function getStaticPaths() {
  return data
    .filter((item) => item.phones)
    .map(({ slug, phones }) => {
      return phones.map((phone) => ({
        params: {
          brand: slug,
          phone: phone.slug,
        },
      }));
    })
    .flat();
}
---

<p>{brand}</p>
<p>{phone}</p>
