---
const { brand, phone } = Astro.params;

export function getStaticPaths() {
  return [
    {
      params: {
        brand: 'iphone',
        phone: '15-pro-max',
      },
    },
  ];
}
---

<p>{brand}</p>
<p>{phone}</p>
